html, body, .App {
  height: 100%;
  margin: 0;
  background: linear-gradient(135deg, #121212, #323232); /* Soft black to charcoal gradient */
  font-family: 'Poppins', sans-serif;
}



.about-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 4rem;
  background: linear-gradient(135deg, #121212, #323232);
;
;
  /* Black-to-dark gray gradient */
}

/* Custom Scrollbar */
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: var(--scrollbar-width, 4px); /* Use variable for dynamic size */
  height: var(--scrollbar-width, 8px); /* For horizontal scrollbars */
}


::-webkit-scrollbar-thumb {
  background: #00ffff; /* Matches the cyan theme */
  border-radius: 8px; /* Rounded corners for a modern look */
  transition: all 0.3s ease; /* Smooth transition for size change */
}

::-webkit-scrollbar-thumb:hover {
  background: #00e0e0; /* Slightly brighter on hover */
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* Darker track to match the background */
  border-radius: 8px;
}
